*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  color: #666;
  font-size: 1rem;
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  background-color: #fff;
}

#container {
  height: 100%;
  position: relative;
  overflow: hidden;
}

div {
  display: block;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1260px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.form-group {
  margin-bottom: 15px;
}

#our-services .services-heading a.hidden-sm,
#latest-section .latest-heading a.hidden-sm {
  display: none;
}
@media (min-width: 768px) {
  #our-services .services-heading,
  #latest-section .latest-heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #our-services .services-heading a.hidden-sm,
  #latest-section .latest-heading a.hidden-sm {
    display: flex;
    color: #333645;
    font-size: 1.625rem;
    font-weight: 600;
    text-decoration: none;
  }
  #our-services .services-heading a.hidden-sm:hover,
  #latest-section .latest-heading a.hidden-sm:hover {
    text-decoration: underline;
  }
}

#our-services .mobile-viewall, #latest-section .mobile-viewall {
  text-align: center;
}
#our-services .mobile-viewall a, #latest-section .mobile-viewall a {
  color: #333645;
  font-size: 1.625rem;
  font-weight: 600;
  text-decoration: none;
}
@media (min-width: 768px) {
  #our-services .mobile-viewall a, #latest-section .mobile-viewall a {
    display: none;
  }
}
#our-services .mobile-viewall a:hover, #latest-section .mobile-viewall a:hover {
  text-decoration: underline;
}

/* Btns that is this class:
  Header = hamburger
  Newsletter = submit btn
  Footer = social logos */
.btn-primary {
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
}

label {
  font-weight: 600;
  color: #333645;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

header .header-container {
  padding: 20px 0px;
}
header .header-container .header-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .header-container .header-row {
    justify-content: space-evenly;
  }
}
header .header-container .header-row img {
  max-width: 100%;
  display: block;
}
@media (min-width: 768px) and (max-width: 992px) {
  header .header-container .header-row img {
    max-width: 85%;
  }
}
header .header-container .header-row .phone-burger {
  display: flex;
  align-items: center;
}
header .header-container .header-row .phone {
  margin-left: 15px;
}
header .header-container .header-row .phone a {
  text-decoration: none;
  color: #333645;
  font-size: 1rem;
}
header .header-container .header-row .phone a span {
  font-size: 25px;
}
@media (min-width: 768px) {
  header .header-container .header-row .phone {
    display: none;
  }
}
header .header-container .header-row .actions {
  display: flex;
}
@media (min-width: 992px) {
  header .header-container .header-row .actions > * + * {
    margin-left: 20px;
  }
}
header .header-container .header-row .actions a {
  text-decoration: none;
  height: 56px;
  line-height: 46px;
  padding: 5px 15px;
  font-size: 1.125rem;
  border-radius: 3px;
  white-space: normal;
  text-transform: uppercase;
}
@media (max-width: 992px) {
  header .header-container .header-row .actions a {
    display: none;
  }
}
header .header-container .header-row .actions a.support {
  color: #fff;
  background-color: #4183d7;
}
header .header-container .header-row .actions a.support:hover {
  background-color: #286abd;
}
header .header-container .header-row .actions a.contact {
  color: #fff;
  background-color: #999aa2;
}
header .header-container .header-row .actions a.contact:hover {
  background-color: #84858f;
}
@media (min-width: 1px) and (max-width: 768px) {
  header .header-container .header-row .actions .search-bar {
    display: none;
  }
}
header .header-container .header-row .actions .search-bar form {
  margin-bottom: 0;
}
header .header-container .header-row .actions .search-bar form label {
  display: none;
}
header .header-container .header-row .actions .search-bar form input {
  width: 174px;
  height: 55px;
  font-size: 13px;
  border-radius: 0;
  padding: 5px 15px;
  border-color: #ccc;
  display: inline-block;
  border: 2px solid #e5e5e5;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
@media (min-width: 992px) {
  header .header-container .header-row .actions .search-bar form input {
    display: none;
  }
}
@media (min-width: 1260px) {
  header .header-container .header-row .actions .search-bar form input {
    display: inline-block !important;
    width: 240px;
  }
}
header .header-container .header-row .actions .search-bar button {
  border: none;
  height: 55px;
  font-size: 1.3rem;
  color: white;
  cursor: pointer;
  position: relative;
  left: -7px;
  vertical-align: bottom;
  padding: 5px 20px 3px;
  border-radius: 0 5% 5% 0;
  background-color: #999aa2;
}
@media (min-width: 992px) and (max-width: 1259px) {
  header .header-container .header-row .actions .search-bar button {
    border-radius: 3px;
  }
}
header .header-container .header-row .actions .search-bar button:hover {
  background-color: #84858f;
}
header .header-container .header-row .actions .hamburger {
  width: 56px;
  height: 56px;
  border-radius: 3px;
  margin-left: 20px;
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}
header .header-container .header-row .actions .hamburger:hover {
  background-color: #121419;
}
header .header-container .header-row .actions .hamburger .burger {
  display: block;
  width: 33px;
  height: 4px;
  margin: 6px 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  header .header-container .search-mobile {
    display: none;
  }
}
@media (min-width: 992px) {
  header .header-container .search-mobile {
    display: none;
  }
}
@media (min-width: 1260px) {
  header .header-container .search-mobile {
    display: none;
  }
}
header .header-container .search-mobile form {
  position: relative;
  margin-bottom: 0;
}
header .header-container .search-mobile form input {
  width: 100%;
  height: 47px;
  color: #555;
  font-size: 14px;
  border-radius: 2px;
  padding: 5px 15px;
  padding-right: 40px;
  background-color: rgba(0, 0, 0, 0.1);
  border: 2px solid rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
header .header-container .search-mobile form input:focus {
  outline: none;
  box-shadow: none;
}
header .header-container .search-mobile form button {
  color: #333645;
  position: absolute;
  border: none;
  font-size: 19px;
  right: 5px;
  top: 30px;
  text-align: center;
  background: none;
}

#nav-bar {
  position: relative;
  background-color: #333645;
}
@media (max-width: 992px) {
  #nav-bar {
    display: none;
  }
}
#nav-bar ul.main-nav {
  margin: 0;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
#nav-bar ul.main-nav > li {
  list-style: none;
  text-align: center;
}
#nav-bar ul.main-nav > li > a {
  display: block;
  color: #fff;
  line-height: 1;
  padding: 19px 0 18px;
  text-decoration: none;
  text-transform: uppercase;
}
#nav-bar ul.main-nav > li > a:not(i, small) {
  font-size: 1.125rem;
}
#nav-bar ul.main-nav > li > a i {
  display: block;
  font-size: 1.438rem;
  padding-bottom: 10px;
}
#nav-bar ul.main-nav > li > a small {
  display: block;
  font-size: 0.625rem;
  padding-bottom: 1px;
}
#nav-bar ul.main-nav > li.software > a > i {
  color: #67809f;
}
#nav-bar ul.main-nav > li.support > a > i {
  color: #4183d7;
}
#nav-bar ul.main-nav > li.digital > a > i {
  color: #2ecc71;
}
#nav-bar ul.main-nav > li.telecoms > a > i {
  color: #d64541;
}
#nav-bar ul.main-nav > li.webdesign > a > i {
  color: #926fb1;
}
#nav-bar ul.main-nav > li.cyber > a > i {
  color: #f62459;
}
#nav-bar ul.main-nav > li.developer > a > i {
  color: #ce4125;
}
#nav-bar ul.main-nav > li.software:hover, #nav-bar ul.main-nav > li.software:hover > a > i {
  color: #fff;
  background-color: #67809f;
}
#nav-bar ul.main-nav > li.support:hover, #nav-bar ul.main-nav > li.support:hover > a > i {
  color: #fff;
  background-color: #4183d7;
}
#nav-bar ul.main-nav > li.digital:hover, #nav-bar ul.main-nav > li.digital:hover > a > i {
  color: #fff;
  background-color: #2ecc71;
}
#nav-bar ul.main-nav > li.telecoms:hover, #nav-bar ul.main-nav > li.telecoms:hover > a > i {
  color: #fff;
  background-color: #d64541;
}
#nav-bar ul.main-nav > li.webdesign:hover, #nav-bar ul.main-nav > li.webdesign:hover > a > i {
  color: #fff;
  background-color: #926fb1;
}
#nav-bar ul.main-nav > li.cyber:hover, #nav-bar ul.main-nav > li.cyber:hover > a > i {
  color: #fff;
  background-color: #f62459;
}
#nav-bar ul.main-nav > li.developer:hover, #nav-bar ul.main-nav > li.developer:hover > a > i {
  color: #fff;
  background-color: #ce4125;
}
@media (max-width: 1259px) {
  #nav-bar ul.main-nav > li.software:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #67809f transparent transparent;
  }
}
@media (min-width: 1260px) {
  #nav-bar ul.main-nav > li.software:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 83.5px 0;
    border-color: #67809f transparent transparent;
  }
}
@media (max-width: 1259px) {
  #nav-bar ul.main-nav > li.support:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #4183d7 transparent transparent;
  }
}
@media (min-width: 1260px) {
  #nav-bar ul.main-nav > li.support:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 83.5px 0;
    border-color: #4183d7 transparent transparent;
  }
}
@media (max-width: 1259px) {
  #nav-bar ul.main-nav > li.digital:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #2ecc71 transparent transparent;
  }
}
@media (min-width: 1260px) {
  #nav-bar ul.main-nav > li.digital:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 83.5px 0;
    border-color: #2ecc71 transparent transparent;
  }
}
@media (max-width: 1259px) {
  #nav-bar ul.main-nav > li.telecoms:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #d64541 transparent transparent;
  }
}
@media (min-width: 1260px) {
  #nav-bar ul.main-nav > li.telecoms:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 83.5px 0;
    border-color: #d64541 transparent transparent;
  }
}
@media (max-width: 1259px) {
  #nav-bar ul.main-nav > li.webdesign:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #926fb1 transparent transparent;
  }
}
@media (min-width: 1260px) {
  #nav-bar ul.main-nav > li.webdesign:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 83.5px 0;
    border-color: #926fb1 transparent transparent;
  }
}
@media (max-width: 1259px) {
  #nav-bar ul.main-nav > li.cyber:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #f62459 transparent transparent;
  }
}
@media (min-width: 1260px) {
  #nav-bar ul.main-nav > li.cyber:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 83.5px 0;
    border-color: #f62459 transparent transparent;
  }
}
@media (max-width: 1259px) {
  #nav-bar ul.main-nav > li.developer:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 68px 0;
    border-color: #ce4125 transparent transparent;
  }
}
@media (min-width: 1260px) {
  #nav-bar ul.main-nav > li.developer:hover > a:before {
    content: "";
    position: absolute;
    bottom: -35px;
    transform: translateX(-50%);
    z-index: 90;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 35px 83.5px 0;
    border-color: #ce4125 transparent transparent;
  }
}

#nav-bar ul.main-nav > li > div.drop-menu {
  margin: 0;
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 100%;
  z-index: 10;
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: #1d1f28;
}
#nav-bar ul.main-nav > li > div.drop-menu > ul.container {
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin-top: -15px;
  list-style: none;
  text-align: left;
}
#nav-bar ul.main-nav > li > div.drop-menu > ul.container > li.drop-title {
  width: 100%;
  color: #fff !important;
  margin-bottom: 10px;
  margin-top: 15px;
  font-weight: 500;
  font-size: 2rem;
}
#nav-bar ul.main-nav > li > div.drop-menu > ul.container > li {
  width: 33%;
  margin-top: 15px;
}
#nav-bar ul.main-nav > li > div.drop-menu > ul.container > li > a {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  line-height: 1.313rem;
  padding: 0.625rem 0.938rem 0.625rem 0;
}
#nav-bar ul.main-nav > li > div.drop-menu > ul.container > li > a:hover {
  text-decoration: underline;
}
#nav-bar ul.main-nav > li > div.drop-menu > ul.container > li > a > i {
  display: flex;
  justify-content: left;
  align-items: center;
  min-width: 25px;
}
#nav-bar ul.main-nav > li > div.drop-menu > ul.container > li > a > span {
  margin-left: 10px;
}
#nav-bar ul.main-nav > li.software:hover > div.drop-menu {
  display: block;
  background-color: #526781;
}
#nav-bar ul.main-nav > li.support:hover > div.drop-menu {
  display: block;
  background-color: #286abd;
}
#nav-bar ul.main-nav > li.digital:hover > div.drop-menu {
  display: block;
  background-color: #25a25a;
}
#nav-bar ul.main-nav > li.telecoms:hover > div.drop-menu {
  display: block;
  background-color: #bc2c28;
}
#nav-bar ul.main-nav > li.webdesign:hover > div.drop-menu {
  display: block;
  background-color: #79539a;
}
#nav-bar ul.main-nav > li.cyber:hover > div.drop-menu {
  display: block;
  background-color: #de093f;
}
#nav-bar ul.main-nav > li.developer:hover > div.drop-menu {
  display: block;
  background-color: #a9321d;
}

footer {
  background-color: #323544;
  padding: 27px 0 0;
  position: relative;
}
footer h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 100;
  margin-bottom: 26px;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer .footer-all .netlogo-footer {
  width: 250px;
}
@media (min-width: 480px) {
  footer .footer-all .netlogo-footer {
    width: 320px;
  }
}
footer .footer-all .netlogo-footer img {
  width: 100%;
}
footer .footer-all .netlogo-footer h4 {
  margin-top: 24px;
}
footer .footer-all .social-logos {
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
footer .footer-all .social-logos a {
  width: 35%;
  display: flex;
  font-size: 26px;
  line-height: 26px;
  margin-right: 10px;
  margin-bottom: 10px;
  align-items: center;
  justify-content: center;
  padding: 12px 22px 16px;
  background-color: #212330;
}
@media (min-width: 480px) {
  footer .footer-all .social-logos a {
    width: 68px;
  }
}
footer .footer-all .social-logos a.facebook:hover {
  background-color: #3b5998;
}
footer .footer-all .social-logos a.linkedin:hover {
  background-color: #0077b5;
}
footer .footer-all .social-logos a.twitter:hover {
  background-color: #00aced;
}
footer .footer-all .social-logos a.insta:hover {
  background-color: #d93175;
}
footer .footer-all .social-logos a span {
  position: relative;
  top: 4px;
}

@media (min-width: 1260px) {
  footer {
    padding: 47px 0 0;
  }
}
@media (min-width: 1260px) {
  footer .footer-all {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
footer .footer-rows {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
}
@media (min-width: 768px) {
  footer .footer-rows {
    width: auto;
  }
}
@media (min-width: 1260px) {
  footer .footer-rows {
    width: 772px;
  }
}
footer .footer-rows .footer-list {
  margin-bottom: 30px;
  padding-left: 15px;
  padding-right: 15px;
}
footer .footer-rows .footer-list > h4 {
  margin-top: 0;
}
@media (min-width: 768px) {
  footer .footer-rows .footer-list {
    width: 50%;
    padding-left: 0;
  }
}
@media (min-width: 992px) {
  footer .footer-rows .footer-list {
    width: 25%;
  }
}
footer .footer-rows .footer-list ul.footer-ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
footer .footer-rows .footer-list ul.footer-ul li {
  font-size: 0.8125rem;
  line-height: 1.375rem;
}
footer .footer-rows .footer-list ul.footer-ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 0.82rem;
  line-height: 1.42;
  background-color: #212330;
}
.footer-bottom .license, .footer-bottom a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.footer-bottom .license span, .footer-bottom a span {
  display: block;
}
@media (min-width: 768px) {
  .footer-bottom .license span, .footer-bottom a span {
    display: inline;
  }
}

.slide-banner {
  position: relative;
}
.slide-banner .banner {
  height: 550px;
  background-color: #000;
}
.slide-banner .banner img {
  opacity: 0.5;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-banner .banner .banner-content {
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 992px) {
  .slide-banner .banner .banner-content {
    text-align: center;
    width: 100%;
  }
}
.slide-banner .banner .banner-content h1 {
  font-size: 2.5rem;
  font-weight: 600;
}
@media (min-width: 992px) {
  .slide-banner .banner .banner-content h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
}
.slide-banner .banner .banner-content p {
  font-size: 1.2rem;
  font-weight: 600;
}
@media (min-width: 992px) {
  .slide-banner .banner .banner-content p {
    font-size: 1.625rem;
    line-height: 2.5rem;
  }
}
.slide-banner .banner .banner-content a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.25rem;
  padding: 5px 20px;
  line-height: 50px;
  border-radius: 3px;
  margin: 1.2rem 0 1.9rem 0;
  border-color: #926fb1;
  background-color: #926fb1;
}
.slide-banner .banner .banner-content a i {
  margin-right: -4px;
  margin-left: 12px;
}

#our-services .services-heading {
  position: relative;
}
#our-services .services-heading h2 {
  color: #333645;
  font-size: 2.7rem;
  font-weight: 600;
  margin-top: -13px;
  margin-bottom: 15px;
}
@media (max-width: 1259px) {
  #our-services .services-heading h2 {
    margin-bottom: 15px;
  }
}
#our-services .services-all {
  position: relative;
  display: grid;
  grid-gap: 30px;
  margin-top: 30px;
  margin-bottom: 25px;
  grid-template-areas: "software" "support" "digital" "telecoms" "design" "cyber" "developer";
}
#our-services .services-all .service-container1 {
  grid-area: software;
}
#our-services .services-all .service-container2 {
  grid-area: support;
}
#our-services .services-all .service-container3 {
  grid-area: digital;
}
#our-services .services-all .service-container4 {
  grid-area: telecoms;
}
#our-services .services-all .service-container5 {
  grid-area: design;
}
#our-services .services-all .service-container6 {
  grid-area: cyber;
}
#our-services .services-all .service-container7 {
  grid-area: developer;
}
@media (min-width: 768px) {
  #our-services .services-all {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas: "software software" "support support" "digital digital" "telecoms design" "cyber developer";
  }
}
@media (min-width: 992px) {
  #our-services .services-all {
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "software software support support digital digital" "telecoms telecoms telecoms design design design" "cyber cyber cyber developer developer developer";
  }
}
@media (min-width: 1260px) {
  #our-services .services-all {
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas: "software software software software support support support support digital digital digital digital" "telecoms telecoms telecoms design design design cyber cyber cyber developer developer developer";
  }
}
#our-services .services-all .service-container1:hover {
  background-color: #67809f;
  top: -10px;
  transition: 0.5s ease;
}
#our-services .services-all .service-container2:hover {
  background-color: #4183d7;
  top: -10px;
  transition: 0.5s ease;
}
#our-services .services-all .service-container3:hover {
  background-color: #2ecc71;
  top: -10px;
  transition: 0.5s ease;
}
#our-services .services-all .service-container4:hover {
  background-color: #d64541;
  top: -10px;
  transition: 0.5s ease;
}
#our-services .services-all .service-container5:hover {
  background-color: #926fb1;
  top: -10px;
  transition: 0.5s ease;
}
#our-services .services-all .service-container6:hover {
  background-color: #f62459;
  top: -10px;
  transition: 0.5s ease;
}
#our-services .services-all .service-container7:hover {
  background-color: #ce4125;
  top: -10px;
  transition: 0.5s ease;
}
#our-services .services-all .service-container1, #our-services .services-all .service-container2, #our-services .services-all .service-container3, #our-services .services-all .service-container4, #our-services .services-all .service-container5, #our-services .services-all .service-container6, #our-services .services-all .service-container7 {
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  position: relative;
  border-radius: 15px;
  background-color: #fff;
  top: 0;
  transition: 0.5s ease;
}
#our-services .services-all .service-container1 a, #our-services .services-all .service-container2 a, #our-services .services-all .service-container3 a, #our-services .services-all .service-container4 a, #our-services .services-all .service-container5 a, #our-services .services-all .service-container6 a, #our-services .services-all .service-container7 a {
  padding: 30px;
  color: #fff;
  display: grid;
  align-items: center;
  text-align: center;
  justify-items: center;
  text-decoration: none;
}
#our-services .services-all .service-container1 a:hover, #our-services .services-all .service-container2 a:hover, #our-services .services-all .service-container3 a:hover, #our-services .services-all .service-container4 a:hover, #our-services .services-all .service-container5 a:hover, #our-services .services-all .service-container6 a:hover, #our-services .services-all .service-container7 a:hover {
  border-radius: 15px;
}
#our-services .services-all .service-container1 a:hover h3, #our-services .services-all .service-container1 a:hover p, #our-services .services-all .service-container2 a:hover h3, #our-services .services-all .service-container2 a:hover p, #our-services .services-all .service-container3 a:hover h3, #our-services .services-all .service-container3 a:hover p, #our-services .services-all .service-container4 a:hover h3, #our-services .services-all .service-container4 a:hover p, #our-services .services-all .service-container5 a:hover h3, #our-services .services-all .service-container5 a:hover p, #our-services .services-all .service-container6 a:hover h3, #our-services .services-all .service-container6 a:hover p, #our-services .services-all .service-container7 a:hover h3, #our-services .services-all .service-container7 a:hover p {
  color: #fff;
}
#our-services .services-all .service-container1 a:hover .icon-colr1, #our-services .services-all .service-container1 a:hover .icon-colr2, #our-services .services-all .service-container1 a:hover .icon-colr3, #our-services .services-all .service-container1 a:hover .icon-colr4, #our-services .services-all .service-container1 a:hover .icon-colr5, #our-services .services-all .service-container1 a:hover .icon-colr6, #our-services .services-all .service-container1 a:hover .icon-colr7, #our-services .services-all .service-container2 a:hover .icon-colr1, #our-services .services-all .service-container2 a:hover .icon-colr2, #our-services .services-all .service-container2 a:hover .icon-colr3, #our-services .services-all .service-container2 a:hover .icon-colr4, #our-services .services-all .service-container2 a:hover .icon-colr5, #our-services .services-all .service-container2 a:hover .icon-colr6, #our-services .services-all .service-container2 a:hover .icon-colr7, #our-services .services-all .service-container3 a:hover .icon-colr1, #our-services .services-all .service-container3 a:hover .icon-colr2, #our-services .services-all .service-container3 a:hover .icon-colr3, #our-services .services-all .service-container3 a:hover .icon-colr4, #our-services .services-all .service-container3 a:hover .icon-colr5, #our-services .services-all .service-container3 a:hover .icon-colr6, #our-services .services-all .service-container3 a:hover .icon-colr7, #our-services .services-all .service-container4 a:hover .icon-colr1, #our-services .services-all .service-container4 a:hover .icon-colr2, #our-services .services-all .service-container4 a:hover .icon-colr3, #our-services .services-all .service-container4 a:hover .icon-colr4, #our-services .services-all .service-container4 a:hover .icon-colr5, #our-services .services-all .service-container4 a:hover .icon-colr6, #our-services .services-all .service-container4 a:hover .icon-colr7, #our-services .services-all .service-container5 a:hover .icon-colr1, #our-services .services-all .service-container5 a:hover .icon-colr2, #our-services .services-all .service-container5 a:hover .icon-colr3, #our-services .services-all .service-container5 a:hover .icon-colr4, #our-services .services-all .service-container5 a:hover .icon-colr5, #our-services .services-all .service-container5 a:hover .icon-colr6, #our-services .services-all .service-container5 a:hover .icon-colr7, #our-services .services-all .service-container6 a:hover .icon-colr1, #our-services .services-all .service-container6 a:hover .icon-colr2, #our-services .services-all .service-container6 a:hover .icon-colr3, #our-services .services-all .service-container6 a:hover .icon-colr4, #our-services .services-all .service-container6 a:hover .icon-colr5, #our-services .services-all .service-container6 a:hover .icon-colr6, #our-services .services-all .service-container6 a:hover .icon-colr7, #our-services .services-all .service-container7 a:hover .icon-colr1, #our-services .services-all .service-container7 a:hover .icon-colr2, #our-services .services-all .service-container7 a:hover .icon-colr3, #our-services .services-all .service-container7 a:hover .icon-colr4, #our-services .services-all .service-container7 a:hover .icon-colr5, #our-services .services-all .service-container7 a:hover .icon-colr6, #our-services .services-all .service-container7 a:hover .icon-colr7 {
  background-color: #fff;
}
#our-services .services-all .service-container1 a:hover .icon-colr1, #our-services .services-all .service-container2 a:hover .icon-colr1, #our-services .services-all .service-container3 a:hover .icon-colr1, #our-services .services-all .service-container4 a:hover .icon-colr1, #our-services .services-all .service-container5 a:hover .icon-colr1, #our-services .services-all .service-container6 a:hover .icon-colr1, #our-services .services-all .service-container7 a:hover .icon-colr1 {
  color: #67809f;
}
#our-services .services-all .service-container1 a:hover .icon-colr2, #our-services .services-all .service-container2 a:hover .icon-colr2, #our-services .services-all .service-container3 a:hover .icon-colr2, #our-services .services-all .service-container4 a:hover .icon-colr2, #our-services .services-all .service-container5 a:hover .icon-colr2, #our-services .services-all .service-container6 a:hover .icon-colr2, #our-services .services-all .service-container7 a:hover .icon-colr2 {
  color: #4183d7;
}
#our-services .services-all .service-container1 a:hover .icon-colr3, #our-services .services-all .service-container2 a:hover .icon-colr3, #our-services .services-all .service-container3 a:hover .icon-colr3, #our-services .services-all .service-container4 a:hover .icon-colr3, #our-services .services-all .service-container5 a:hover .icon-colr3, #our-services .services-all .service-container6 a:hover .icon-colr3, #our-services .services-all .service-container7 a:hover .icon-colr3 {
  color: #2ecc71;
}
#our-services .services-all .service-container1 a:hover .icon-colr4, #our-services .services-all .service-container2 a:hover .icon-colr4, #our-services .services-all .service-container3 a:hover .icon-colr4, #our-services .services-all .service-container4 a:hover .icon-colr4, #our-services .services-all .service-container5 a:hover .icon-colr4, #our-services .services-all .service-container6 a:hover .icon-colr4, #our-services .services-all .service-container7 a:hover .icon-colr4 {
  color: #d64541;
}
#our-services .services-all .service-container1 a:hover .icon-colr5, #our-services .services-all .service-container2 a:hover .icon-colr5, #our-services .services-all .service-container3 a:hover .icon-colr5, #our-services .services-all .service-container4 a:hover .icon-colr5, #our-services .services-all .service-container5 a:hover .icon-colr5, #our-services .services-all .service-container6 a:hover .icon-colr5, #our-services .services-all .service-container7 a:hover .icon-colr5 {
  color: #926fb1;
}
#our-services .services-all .service-container1 a:hover .icon-colr6, #our-services .services-all .service-container2 a:hover .icon-colr6, #our-services .services-all .service-container3 a:hover .icon-colr6, #our-services .services-all .service-container4 a:hover .icon-colr6, #our-services .services-all .service-container5 a:hover .icon-colr6, #our-services .services-all .service-container6 a:hover .icon-colr6, #our-services .services-all .service-container7 a:hover .icon-colr6 {
  color: #f62459;
}
#our-services .services-all .service-container1 a:hover .icon-colr7, #our-services .services-all .service-container2 a:hover .icon-colr7, #our-services .services-all .service-container3 a:hover .icon-colr7, #our-services .services-all .service-container4 a:hover .icon-colr7, #our-services .services-all .service-container5 a:hover .icon-colr7, #our-services .services-all .service-container6 a:hover .icon-colr7, #our-services .services-all .service-container7 a:hover .icon-colr7 {
  color: #ce4125;
}
#our-services .services-all .service-container1 a .icon-colr1, #our-services .services-all .service-container2 a .icon-colr1, #our-services .services-all .service-container3 a .icon-colr1, #our-services .services-all .service-container4 a .icon-colr1, #our-services .services-all .service-container5 a .icon-colr1, #our-services .services-all .service-container6 a .icon-colr1, #our-services .services-all .service-container7 a .icon-colr1 {
  background-color: #67809f;
}
#our-services .services-all .service-container1 a .icon-colr2, #our-services .services-all .service-container2 a .icon-colr2, #our-services .services-all .service-container3 a .icon-colr2, #our-services .services-all .service-container4 a .icon-colr2, #our-services .services-all .service-container5 a .icon-colr2, #our-services .services-all .service-container6 a .icon-colr2, #our-services .services-all .service-container7 a .icon-colr2 {
  background-color: #4183d7;
}
#our-services .services-all .service-container1 a .icon-colr3, #our-services .services-all .service-container2 a .icon-colr3, #our-services .services-all .service-container3 a .icon-colr3, #our-services .services-all .service-container4 a .icon-colr3, #our-services .services-all .service-container5 a .icon-colr3, #our-services .services-all .service-container6 a .icon-colr3, #our-services .services-all .service-container7 a .icon-colr3 {
  background-color: #2ecc71;
}
#our-services .services-all .service-container1 a .icon-colr4, #our-services .services-all .service-container2 a .icon-colr4, #our-services .services-all .service-container3 a .icon-colr4, #our-services .services-all .service-container4 a .icon-colr4, #our-services .services-all .service-container5 a .icon-colr4, #our-services .services-all .service-container6 a .icon-colr4, #our-services .services-all .service-container7 a .icon-colr4 {
  background-color: #d64541;
}
#our-services .services-all .service-container1 a .icon-colr5, #our-services .services-all .service-container2 a .icon-colr5, #our-services .services-all .service-container3 a .icon-colr5, #our-services .services-all .service-container4 a .icon-colr5, #our-services .services-all .service-container5 a .icon-colr5, #our-services .services-all .service-container6 a .icon-colr5, #our-services .services-all .service-container7 a .icon-colr5 {
  background-color: #926fb1;
}
#our-services .services-all .service-container1 a .icon-colr6, #our-services .services-all .service-container2 a .icon-colr6, #our-services .services-all .service-container3 a .icon-colr6, #our-services .services-all .service-container4 a .icon-colr6, #our-services .services-all .service-container5 a .icon-colr6, #our-services .services-all .service-container6 a .icon-colr6, #our-services .services-all .service-container7 a .icon-colr6 {
  background-color: #f62459;
}
#our-services .services-all .service-container1 a .icon-colr7, #our-services .services-all .service-container2 a .icon-colr7, #our-services .services-all .service-container3 a .icon-colr7, #our-services .services-all .service-container4 a .icon-colr7, #our-services .services-all .service-container5 a .icon-colr7, #our-services .services-all .service-container6 a .icon-colr7, #our-services .services-all .service-container7 a .icon-colr7 {
  background-color: #ce4125;
}
#our-services .services-all .service-container1 a div.btn, #our-services .services-all .service-container2 a div.btn, #our-services .services-all .service-container3 a div.btn, #our-services .services-all .service-container4 a div.btn, #our-services .services-all .service-container5 a div.btn, #our-services .services-all .service-container6 a div.btn, #our-services .services-all .service-container7 a div.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  text-transform: uppercase;
}
#our-services .services-all .service-container1 a > div.icon, #our-services .services-all .service-container2 a > div.icon, #our-services .services-all .service-container3 a > div.icon, #our-services .services-all .service-container4 a > div.icon, #our-services .services-all .service-container5 a > div.icon, #our-services .services-all .service-container6 a > div.icon, #our-services .services-all .service-container7 a > div.icon {
  font-size: 2rem;
  border-radius: 50%;
  width: 65px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 17px;
}
#our-services .services-all .service-container1 a h3, #our-services .services-all .service-container2 a h3, #our-services .services-all .service-container3 a h3, #our-services .services-all .service-container4 a h3, #our-services .services-all .service-container5 a h3, #our-services .services-all .service-container6 a h3, #our-services .services-all .service-container7 a h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333645;
  padding-bottom: 10px;
  margin: 0 0 11px;
}
#our-services .services-all .service-container1 a p, #our-services .services-all .service-container2 a p, #our-services .services-all .service-container3 a p, #our-services .services-all .service-container4 a p, #our-services .services-all .service-container5 a p, #our-services .services-all .service-container6 a p, #our-services .services-all .service-container7 a p {
  margin-top: 0;
  color: #333645;
  line-height: 1.375rem;
  font-size: 0.8125rem;
}

.partners-section .badges-row, .clients-section .badges-row {
  display: flex;
  flex-direction: row;
  text-align: center;
  align-items: center;
}
.partners-section .badges-row .badge-logo, .clients-section .badges-row .badge-logo {
  flex-grow: 1;
  padding: 0 40px;
  position: relative;
  top: 30px;
  filter: grayscale(100%);
}
.partners-section .badges-row .badge-logo:hover, .clients-section .badges-row .badge-logo:hover {
  filter: grayscale(0);
}

.clients-section .badge {
  vertical-align: middle;
  position: relative;
  padding: 0 20px;
}
.clients-section .badge .badge-logo > img {
  max-height: 70px;
  width: auto !important;
  max-width: 200px;
}
.clients-section .badge:hover .tooltip {
  display: block;
}
.clients-section .badge .tooltip {
  display: none;
  position: absolute;
  bottom: 100%;
}
.clients-section .badge .tooltip .toolbox {
  color: #fff;
  padding: 20px;
  min-width: 280px;
  max-width: 280px;
  background-color: #333645;
}
.clients-section .badge .tooltip .toolbox a {
  color: #fff;
  text-decoration: none;
}
.clients-section .badge .tooltip .toolbox .toolarrow {
  position: absolute;
  top: 98%;
  left: 50%;
  margin-left: -36px;
}
.clients-section .badge .tooltip .toolbox .toolarrow::after {
  content: "";
  margin: auto;
  display: inline-block;
  border-style: solid;
  border-width: 35px 36px 0;
  border-color: #333645 transparent transparent;
}

#about-section {
  color: #fff;
  margin-top: 30px;
  background-color: #333645;
}
#about-section .about-grid {
  display: grid;
  column-gap: 15px;
  grid-template-areas: "about" "review";
}
#about-section .about-grid .about-col {
  grid-area: about;
}
@media (min-width: 992px) {
  #about-section .about-grid .about-col {
    width: 110%;
  }
}
#about-section .about-grid .review-col {
  grid-area: review;
}
@media (min-width: 992px) {
  #about-section .about-grid .review-col {
    padding-left: 45px;
  }
}
@media (min-width: 992px) {
  #about-section .about-grid {
    grid-template-areas: "about review";
  }
}
#about-section .about-grid a {
  color: #fff;
  text-decoration: none;
}
#about-section .about-grid .double-btn {
  display: flex;
  flex-wrap: wrap;
  row-gap: 20px;
  text-transform: uppercase;
}
#about-section .about-grid .btn-base {
  font-size: 1.25rem;
  padding: 15px 30px;
  border-radius: 6px;
  background-color: #272936;
}
#about-section .about-grid .btn-base:hover {
  background-color: #121318;
}
#about-section .about-grid .google {
  background-color: #4387f6;
}
@media (min-width: 992px) {
  #about-section .about-grid .google {
    margin-top: 20px;
  }
}
#about-section .about-grid .google:hover {
  background-color: #166af4;
}
#about-section .about-grid .trustpilot {
  background-color: #00b67b;
}
@media (min-width: 1260px) {
  #about-section .about-grid .trustpilot {
    margin-top: 20px;
  }
}
#about-section .about-grid .trustpilot:hover {
  background-color: #009b69;
}
#about-section .about-grid h2 {
  font-size: 2.25rem;
  font-weight: 600;
}
@media (min-width: 992px) {
  #about-section .about-grid h2 {
    margin-top: 0px;
  }
}
#about-section .about-grid .welcome-head {
  margin-top: 0px;
}
#about-section .about-grid p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}
#about-section .about-grid .star-inline {
  display: inline-flex;
}
#about-section .about-grid .star-inline .stars {
  color: orange;
  margin-bottom: 25px;
  font-size: 45px;
}
#about-section .about-grid .client-quote {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
}
#about-section .about-grid .client-quote-author {
  font-weight: 600;
  color: #a3a8ac;
  font-size: 1.1rem;
}
#about-section .about-grid .client-quote-author a {
  color: #fff;
}

#latest-section .latest-heading {
  padding-top: 50px;
}
#latest-section .latest-heading h2 {
  margin: 0;
  color: #333645;
  font-size: 2.25rem;
  font-weight: 600;
}
@media (min-width: 768px) and (max-width: 1260px) {
  #latest-section .latest-articles {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 30px;
  }
  #latest-section .latest-articles .article-container3 {
    display: none;
  }
}
@media (min-width: 1260px) {
  #latest-section .latest-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
  }
}
#latest-section .latest-articles a {
  text-decoration: none;
  cursor: pointer;
  color: #fff;
}
#latest-section .latest-articles .article-container1,
#latest-section .latest-articles .article-container2,
#latest-section .latest-articles .article-container3 {
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  position: relative;
  border-radius: 3px;
  top: 0;
  transition: 0.5s ease;
}
#latest-section .latest-articles .article-container1:hover,
#latest-section .latest-articles .article-container2:hover,
#latest-section .latest-articles .article-container3:hover {
  top: -10px;
  transition: 0.5s ease;
}
#latest-section .latest-articles .article-container1 .article-img,
#latest-section .latest-articles .article-container2 .article-img,
#latest-section .latest-articles .article-container3 .article-img {
  position: relative;
}
#latest-section .latest-articles .article-container1 .article-img a.img-tag,
#latest-section .latest-articles .article-container2 .article-img a.img-tag,
#latest-section .latest-articles .article-container3 .article-img a.img-tag {
  position: absolute;
  z-index: 2;
  right: 0;
  top: 10px;
  padding: 5px 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
}
#latest-section .latest-articles .article-container1 .article-img a.news,
#latest-section .latest-articles .article-container2 .article-img a.news,
#latest-section .latest-articles .article-container3 .article-img a.news {
  background-color: #d64541;
}
#latest-section .latest-articles .article-container1 .article-img a.insights,
#latest-section .latest-articles .article-container2 .article-img a.insights,
#latest-section .latest-articles .article-container3 .article-img a.insights {
  background-color: #67809f;
}
#latest-section .latest-articles .article-container1 .article-img a.careers,
#latest-section .latest-articles .article-container2 .article-img a.careers,
#latest-section .latest-articles .article-container3 .article-img a.careers {
  background-color: #2ecc71;
}
#latest-section .latest-articles .article-container1 .article-img img,
#latest-section .latest-articles .article-container2 .article-img img,
#latest-section .latest-articles .article-container3 .article-img img {
  width: 100%;
  height: auto;
  display: block;
  position: relative;
  border-radius: 3px 3px 0 0;
}

#latest-section .article-content {
  padding: 30px;
}
#latest-section .article-content h3.article-header1, #latest-section .article-content h3.article-header2, #latest-section .article-content h3.article-header3 {
  font-size: 1rem;
  margin: 0 0 15px;
  line-height: 1.5rem;
  font-weight: 600;
}
@media (min-width: 768px) {
  #latest-section .article-content h3.article-header3 {
    min-height: 3rem;
  }
}
#latest-section .article-content h3.article-header1:not(span) {
  color: #d64541;
}
#latest-section .article-content h3.article-header2:not(span) {
  color: #67809f;
}
#latest-section .article-content h3.article-header3:not(span) {
  color: #2ecc71;
}
#latest-section .article-content span.read-time {
  color: rgba(51, 54, 69, 0.5);
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: uppercase;
}
#latest-section .article-content p.article-desc {
  margin: 0 0 25px;
  line-height: 1.375rem;
  font-size: 0.8125rem;
}
#latest-section .article-content a.btn {
  padding: 5px 15px;
  line-height: 35px;
  border-radius: 3px;
  font-size: 1.063rem;
  text-transform: uppercase;
}
#latest-section .article-content a.btn.btn-art1 {
  color: #fff;
  background-color: #d64541;
  border-color: #d64541;
}
#latest-section .article-content a.btn.btn-art2 {
  color: #fff;
  background-color: #67809f;
  border-color: #67809f;
}
#latest-section .article-content a.btn.btn-art3 {
  color: #fff;
  background-color: #2ecc71;
  border-color: #2ecc71;
}
#latest-section .article-content .author {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
#latest-section .article-content .author .author-pic {
  display: flex;
}
#latest-section .article-content .author .author-pic img {
  border-radius: 100%;
}
#latest-section .article-content .author .posted-info {
  padding-left: 20px;
  font-size: 0.875rem;
  line-height: 1.35rem;
}
#latest-section .article-content .author .posted-info .posted-by {
  font-weight: 600;
  color: #333645;
}
#latest-section .article-content .author .posted-info .posted-date {
  color: #666;
}

.newsl-section {
  background-color: #ddd;
  color: #333645;
}
.newsl-section form {
  margin: 0;
}
.newsl-section h2 {
  font-weight: 400;
  margin: 0 0 15px;
  font-size: 2rem;
}
.newsl-section .signup-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.newsl-section .signup-input {
  flex: 1 1 450px;
  padding-left: 15px;
  padding-right: 15px;
}
.newsl-section label.required::after {
  content: " *";
  color: #d24d57;
}
.newsl-section label.pretty-checkbox {
  line-height: 32px;
  cursor: pointer;
}
.newsl-section labela {
  color: #333645;
  text-decoration: underline;
}
.newsl-section button.btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
  text-transform: uppercase;
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

.sign-up {
  padding: 50px 0;
}

.form-control {
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

/*# sourceMappingURL=style.css.map */
