*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html {
  background-color: #fff;
}

body {
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  letter-spacing: 0.4px;
  background-color: #fff;
}

div {
  display: block;
}

label {
  font-weight: 600;
  color: #333645;
}

label {
  display: inline-block;
  margin-bottom: 5px;
}

/*==========================================//
               REUSABLE CLASSES
//==========================================*/
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding: 50px 0;
}

.row {
  margin-left: -15px;
  margin-right: -15px;
}

.form-group {
  margin-bottom: 15px;
}

.btn-primary {
  color: #fff;
  background-color: #333645;
  border-color: #333645;
}

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  border-radius: 2px;
}

.partners-section .slide-outer, .clients-section .slide-outer {
  padding: 50px 0;
}
.partners-section .slide-outer .clients-row-flex, .clients-section .slide-outer .clients-row-flex {
  display: flex;
  flex-direction: row;
  text-align: center;
}
.partners-section .slide-outer .clients-row-flex .client-logo, .clients-section .slide-outer .clients-row-flex .client-logo {
  flex-grow: 1;
  padding: 0 40px;
  position: relative;
  top: 30px;
}

@media (min-width: 767px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1201px) {
  .container {
    width: 1170px;
  }
}
@media (min-width: 767px) {
  footer .footer-content .row-flex-list {
    width: 45%;
    flex-direction: row;
  }
}
@media (min-width: 992px) {
  footer .footer-content .row-flex-list {
    width: 25%;
  }
}
@media (min-width: 1201px) {
  footer .footer-content .row-flex-list {
    min-width: 800px;
  }
}

header .header-container {
  padding: 20px 15px;
}
header .header-container .header-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
header .header-container .header-row img {
  max-width: 90%;
}
header .header-container .header-row .phone {
  padding-right: 25px;
}
header .header-container .header-row .phone a {
  text-decoration: none;
  color: #333645;
  font-size: 1rem;
}
header .header-container .header-row .phone a span {
  font-size: 25px;
}
header .header-container .header-row button {
  width: 96px;
  height: 53px;
  border-radius: 3px;
}
header .header-container .header-row button span {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header .header-container .search-mobile {
  margin-top: 15px;
}
header .header-container .search-mobile form {
  position: relative;
  margin-bottom: 0;
}
header .header-container .search-mobile form input {
  width: 100%;
  height: 45px;
  padding: 5px 15px;
  background-color: rgba(0, 0, 0, 0.1);
}
header .header-container .search-mobile form button {
  color: #333645;
  position: absolute;
  border: none;
  font-size: 19px;
  right: 5px;
  top: 16px;
  text-align: center;
  background: none;
}

.slide-banner .banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slide-banner .banner .banner-content {
  color: #fff;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.slide-banner .banner .banner-content h1 {
  font-size: 2.5rem;
}

.our-services .services-heading {
  position: relative;
  padding: 0 15px;
}
.our-services .services-heading h2 {
  color: #333645;
  font-size: 2.7rem;
  margin: 0 0 20px;
  font-weight: 600;
}
.our-services .services-all {
  position: relative;
  padding: 0 15px;
  display: grid;
  grid-gap: 30px;
}
.our-services .services-all .icon-colr1 {
  background-color: #67809f;
}
.our-services .services-all .icon-colr2 {
  background-color: #4183d7;
}
.our-services .services-all .icon-colr3 {
  background-color: #2ecc71;
}
.our-services .services-all .icon-colr4 {
  background-color: #d64541;
}
.our-services .services-all .icon-colr5 {
  background-color: #926fb1;
}
.our-services .services-all .icon-colr6 {
  background-color: #f62459;
}
.our-services .services-all .icon-colr7 {
  background-color: #ce4125;
}
.our-services .services-all .service-container1, .our-services .services-all .service-container2, .our-services .services-all .service-container3, .our-services .services-all .service-container4, .our-services .services-all .service-container5, .our-services .services-all .service-container6, .our-services .services-all .service-container7 {
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  padding: 30px 0;
  position: relative;
  border-radius: 15px;
  top: 0;
  background-color: #fff;
}
.our-services .services-all .service-container1 a, .our-services .services-all .service-container2 a, .our-services .services-all .service-container3 a, .our-services .services-all .service-container4 a, .our-services .services-all .service-container5 a, .our-services .services-all .service-container6 a, .our-services .services-all .service-container7 a {
  display: grid;
  justify-items: center;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.our-services .services-all .service-container1 a .icon, .our-services .services-all .service-container2 a .icon, .our-services .services-all .service-container3 a .icon, .our-services .services-all .service-container4 a .icon, .our-services .services-all .service-container5 a .icon, .our-services .services-all .service-container6 a .icon, .our-services .services-all .service-container7 a .icon {
  font-size: 1.7rem;
  border-radius: 50%;
  width: 65px;
  height: 65px;
}
.our-services .services-all .service-container1 a .icon, .our-services .services-all .service-container1 a .icon .btn, .our-services .services-all .service-container2 a .icon, .our-services .services-all .service-container2 a .icon .btn, .our-services .services-all .service-container3 a .icon, .our-services .services-all .service-container3 a .icon .btn, .our-services .services-all .service-container4 a .icon, .our-services .services-all .service-container4 a .icon .btn, .our-services .services-all .service-container5 a .icon, .our-services .services-all .service-container5 a .icon .btn, .our-services .services-all .service-container6 a .icon, .our-services .services-all .service-container6 a .icon .btn, .our-services .services-all .service-container7 a .icon, .our-services .services-all .service-container7 a .icon .btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.our-services .services-all .service-container1 a h3, .our-services .services-all .service-container2 a h3, .our-services .services-all .service-container3 a h3, .our-services .services-all .service-container4 a h3, .our-services .services-all .service-container5 a h3, .our-services .services-all .service-container6 a h3, .our-services .services-all .service-container7 a h3 {
  font-size: 1.3rem;
  font-weight: 400;
  color: #333645;
}
.our-services .services-all .service-container1 a p, .our-services .services-all .service-container2 a p, .our-services .services-all .service-container3 a p, .our-services .services-all .service-container4 a p, .our-services .services-all .service-container5 a p, .our-services .services-all .service-container6 a p, .our-services .services-all .service-container7 a p {
  line-height: 1.375rem;
  font-size: 0.8125rem;
  color: #333645;
}

@media (min-width: 767px) {
  .services-all {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    grid-template-areas: "software software" "support support" "digital digital" "telecoms design" "cyber developer";
  }
  .services-all .service-container1 {
    grid-area: software;
  }
  .services-all .service-container2 {
    grid-area: support;
  }
  .services-all .service-container3 {
    grid-area: digital;
  }
  .services-all .service-container4 {
    grid-area: telecoms;
  }
  .services-all .service-container5 {
    grid-area: design;
  }
  .services-all .service-container6 {
    grid-area: cyber;
  }
  .services-all .service-container7 {
    grid-area: developer;
  }
}
@media (min-width: 992px) {
  .services-all {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "software software support" "digital digital telecoms" "design cyber developer";
  }
}

.partners-section .client-logo {
  padding: 0 20px;
  position: relative;
}

.reviews-section {
  color: #fff;
  margin-top: 30px;
  background-color: #333645;
}
.reviews-section a {
  width: 100%;
  color: #fff;
  text-decoration: none;
}
.reviews-section .double-btn {
  display: flex;
  flex-wrap: wrap;
  text-transform: uppercase;
}
.reviews-section .btn-base {
  font-size: 1.25rem;
  padding: 15px 30px;
  border-radius: 6px;
  background-color: #272936;
}
.reviews-section .btn-base:hover {
  background-color: #121318;
}
.reviews-section .google {
  background-color: #4387f6;
}
.reviews-section .google:hover {
  background-color: #166af4;
}
.reviews-section .trustpilot {
  background-color: #00b67b;
}
.reviews-section .trustpilot:hover {
  background-color: #009b69;
}
.reviews-section h2 {
  font-size: 2.25rem;
  font-weight: 600;
}
.reviews-section .welcome-head {
  margin-top: 0px;
}
.reviews-section p {
  line-height: 1.875rem;
  margin-bottom: 25px;
}
.reviews-section .star-inline {
  display: inline-flex;
}
.reviews-section .star-inline .stars {
  color: orange;
  margin-bottom: 25px;
  font-size: 45px;
}
.reviews-section .client-quote {
  font-style: italic;
  font-size: 1.3rem;
  font-weight: 600;
}
.reviews-section .client-quote-author {
  font-weight: 600;
  color: #a3a8ac;
  font-size: 1.1rem;
}
.reviews-section .client-quote-author a {
  color: #fff;
}

.latest-section .latest-heading {
  padding-top: 50px;
}
.latest-section .latest-heading h2 {
  color: #333645;
  font-size: 2.25rem;
  margin: 0 0 28px;
  font-weight: 600;
}
.latest-section .latest-articles a {
  text-decoration: none;
  cursor: pointer;
}
.latest-section .latest-articles a .article1-header {
  color: #d64541;
}
.latest-section .latest-articles a .article2-header {
  color: #67809f;
}
.latest-section .latest-articles a .article3-header {
  color: #2ecc71;
}
.latest-section .latest-articles a .article-desc {
  line-height: 1.375rem;
  font-size: 0.8125rem;
  color: rgba(51, 54, 69, 0.7);
}
.latest-section .latest-articles .article-img {
  display: block;
  border-radius: 3px 3px 0 0;
}
.latest-section .latest-articles .article-img img {
  width: 100%;
}
.latest-section .article-container {
  border: 1px solid #ccc;
  box-shadow: 0 3px 35px rgba(0, 0, 0, 0.1);
  margin: 40px 0;
  position: relative;
  border-radius: 3px;
  top: 0;
}
.latest-section .article-container .article-content {
  padding: 30px;
}
.latest-section .article-container h3 {
  font-size: 1rem;
  line-height: 1.5rem;
  font-weight: 600;
}
.latest-section .article-container h3 .read-time {
  color: rgba(51, 54, 69, 0.5);
  font-size: 0.85rem;
  font-weight: 400;
  text-transform: uppercase;
}
.latest-section .article-container .author {
  display: flex;
  flex-direction: row;
  margin-top: 30px;
  padding-top: 30px;
  border-top: 1px solid #ccc;
}
.latest-section .article-container .author .author-pic {
  border-radius: 50%;
  margin-right: 15px;
}
.latest-section .article-container .author .posted-info {
  font-size: 0.875rem;
  line-height: 1.35rem;
}
.latest-section .article-container .author .posted-info .posted-by {
  font-weight: 600;
  color: #333645;
}
.latest-section .article-container .author .posted-info .posted-date {
  color: #666;
}
.latest-section .btn {
  color: fff;
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.btn-art1 {
  background-color: #d64541;
  border: #d64541;
}

.btn-art2 {
  background-color: #67809f;
  border: #67809f;
}

.btn-art3 {
  background-color: #2ecc71;
  border: #2ecc71;
}

.latest-section .view-all {
  display: block;
  color: #333645;
  text-decoration: none;
  text-align: center;
  font-size: 1.625rem;
  font-weight: 600;
  margin: 10px 10px;
}

@media (min-width: 767px) {
  .latest-section .latest-articles {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;
  }
  .latest-section .latest-articles .display-none {
    display: none;
  }
}
.newsl-section .newsletter-full-width {
  background-color: #ddd;
  color: #333645;
}
.newsl-section .newsletter-full-width form {
  margin: 0;
}
.newsl-section .newsletter-full-width h2 {
  font-weight: 400;
  margin: 0 0 15px;
  font-size: 2rem;
}
.newsl-section .signup-inputs-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}
.newsl-section .signup-input {
  flex: 1 1 450px;
  padding-left: 15px;
  padding-right: 15px;
}
.newsl-section label.pretty-checkbox {
  line-height: 32px;
  cursor: pointer;
}
.newsl-section labela {
  color: #333645;
  text-decoration: underline;
}
.newsl-section .btn {
  height: auto;
  line-height: 35px;
  padding: 5px 15px;
  text-transform: uppercase;
  font-size: 1.063rem;
  border-radius: 3px;
  white-space: normal;
}

.sign-up {
  padding: 50px 0;
}

.form-control {
  width: 100%;
  height: 45px;
  padding: 6px 12px;
  background-color: #fff;
  background-image: none;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

footer {
  background-color: #323544;
  padding: 27px 0 0;
  position: relative;
}
footer .footer-content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer .footer-content .footer-social-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
footer .footer-content .footer-social-icons a {
  background-color: #212330;
  text-align: center;
  text-decoration: none;
  font-size: 26px;
  line-height: 26px;
  padding: 12px 22px 16px;
  margin-right: 7px;
  margin-bottom: 7px;
}

.footer-company-info {
  display: flex;
  justify-content: space-between;
  width: 300px;
}

.net-logo-footer {
  width: 250px;
}
.net-logo-footer img {
  width: 100%;
}

h4 {
  color: #fff;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
}

.row-flex-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  flex-direction: column;
}
.row-flex-list .footer-list {
  margin-bottom: 30px;
}
.row-flex-list .footer-list .footer-ul {
  padding-left: 0;
}
.row-flex-list .footer-list li {
  list-style: none;
}
.row-flex-list .footer-list li a {
  color: #fff;
  text-decoration: none;
  font-size: 13px;
}
.row-flex-list .footer-list li a:hover {
  text-decoration: underline;
}

footer .footer-company-info .footer-social-menu {
  width: auto;
}

.footer-bottom {
  display: flex;
  flex-direction: row;
  padding-top: 20px;
  padding-bottom: 10px;
  font-size: 0.82rem;
  line-height: 1.42;
  background-color: #212330;
}
.footer-bottom .license, .footer-bottom a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}
.footer-bottom .license span, .footer-bottom a span {
  display: block;
}
@media (min-width: 767px) {
  .footer-bottom .license span, .footer-bottom a span {
    display: inline;
  }
}

/*# sourceMappingURL=style.css.map */
