//==========================================//
//                 VARIABLES
//==========================================//

$dark-bg: #323544;
$vdark-bg: #22242e;
$light-bg: #ddd;
$dark-txt: #333645;
$consent-btn: #75788a;
$hover-drk: #121419;

$btn-drk: #272936;
$btn-drk-hover: #121318;
$side-btn-hover: #444753;

$input: #e9e9e9;
$contact: #e6e7e9;
$border-grey: #ccc;
$border-focus: #5bc0de;

$btn-google: #4387f6;
$google-hover: #166af4;

$btn-trustpilot: #00b67b;
$trustpilot-hover: #009b69;

$btn-contact: #999aa2;
$btn-contact-hover: #84858f;

//==========================================//
//            HEADER NAV COLOURS
//==========================================//
$nav-software: #67809f;
$nav-software-drk: #526781;

$nav-it: #4183d7;
$nav-it-drk: #286abd;

$nav-digital: #2ecc71;
$nav-digital-drk: #25a25a;

$nav-telecom: #d64541;
$nav-telecom-drk: #bc2c28;

$nav-webdesign: #926fb1;
$nav-webdesign-drk: #79539a;

$nav-cyber: #f62459;
$nav-cyber-drk: #de093f;

$nav-developer: #ce4125;
$nav-developer-drk: #a9321d;


//==========================================//
//         FOOTER SOCIAL ICON COLOURS
//==========================================//

$footer-drk: #212330;

$fb-hov: #3b5998;
$insta-hov: #d93175;
$linked-hov: #0077b5;
$twt-hov: #00aced;


//==========================================//
//                 FONT WEIGHT
//==========================================//

$font-xlight: 300;
$font-light: 400;
$font-med: 500;
$font-bold: 600;
$font-xbold: 700;


//==========================================//
//     NAV ARROW BORDER WIDTH DIMENSIONS 
//==========================================//
$nav-arrow--xl: 35px 83.5px 0; //for 1260px(min-width)
$nav-arrow--l: 35px 68px 0; //for 1259(max-width)



//==========================================//
//          MEDIA QUERY BREAKPOINTS 
//==========================================//

$break--xs: 1px;
$break--sml: 460px;
$break--med: 768px;
$break--l: 992px;
$break--xl: 1260px;

