//==================================================//
//           REUSABLE CLASSES AND MIXINS 
//=================================================//


//==========================================//
//               CONTAINER
//==========================================//

.container {
    margin-right:  auto;
    margin-left:   auto;
    padding-left:  15px;
    padding-right: 15px;


    @include mq(medium) {
        width: 750px;
        }
  
    @include mq(large) {
        width: 970px;
    }
    
    @include mq(x-large) {
        width: 1200px;
    }
  }


//==========================================//
//          OTHER REUSABLE CLASSES
//==========================================//

.section  {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  
  
  .row {
    margin-left: -15px;
    margin-right: -15px;
  }

  
  .form-group {
    margin-bottom: 15px;
  }
  

//==========================================//
//                   MIXINS
//==========================================//

//=========================>>
//    VIEW ALL STYLING 
//=========================>>
  @mixin viewstyle {
    color: #333645;
    font-size: 1.625rem;
    font-weight: 600;
    text-decoration: none;
  }


//=========================>>
// NAV ARROW MIXIN (::BEFORE) 
//=========================>>
// VARIABLES FOR BORDER WIDTH IN VARIABLES PARTIAL
//$nav-arrow--xl: 35px 83.5px 0; //for 1260px(min-width)
//$nav-arrow--l: 35px 68px 0; //for 1259(max-width)

@mixin nav-arrow($brdwidth, $brdcol){
  content: "";
  position: absolute;
  bottom: -35px;
  transform: translateX(-50%);
  z-index: 90;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: $brdwidth;
  border-color: $brdcol transparent transparent;
}