//==================================================//
//           REUSABLE CLASSES AND MIXINS 
//=================================================//


//==========================================//
//               CONTAINER
//==========================================//

.container {
    margin-right:  auto;
    margin-left:   auto;
    padding-left:  15px;
    padding-right: 15px;


    @include mq(medium) {
        width: 750px;
        }
  
    @include mq(large) {
        width: 970px;
    }
    
    @include mq(x-large) {
        width: 1200px;
    }
  }


//==========================================//
//          OTHER REUSABLE CLASSES
//==========================================//

.section  {
    padding-top: 50px;
    padding-bottom: 50px;
}
  
  
  .row {
    margin-left: -15px;
    margin-right: -15px;
}

  
  .form-group {
    margin-bottom: 15px;
}

  
//==========================================//
//  VIEWALL FOR SERVICES & LATEST SECTIONS
//==========================================//
#our-services .services-heading, //===> VIEW ALL HEADING ARROW MIN-W 768PX <===//
#latest-section .latest-heading {
  a.hidden-sm {display: none;}

  @include mq(medium){
      display: flex;
      align-items: center;
      justify-content: space-between;

      a.hidden-sm {
          display: flex;
          @include viewstyle;
          &:hover {text-decoration: underline;}
      }
  }
}

#our-services, #latest-section { //===> VIEW ALL MOBILE ARROW HIDE AFTER 768PX <===//
  .mobile-viewall{
    text-align: center;
    & a {
        @include viewstyle;
        @include mq(medium){display: none;}
        &:hover {text-decoration: underline;}
    }
  }
}






  

