//==========================================//
//                  FOOTER
//==========================================//



    footer {
    background-color: $dark-bg;
    padding: 27px 0 0;
    position: relative;
    

        .footer-content {
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
        
            .footer-social-icons {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;

                margin-bottom: 30px;
    
                a {
                    background-color: $footer-drk;
                    text-align: center;
                    text-decoration: none;
                    font-size: 26px;
                    line-height: 26px;
                    padding: 12px 22px 16px;
                    margin-right: 7px;
                    margin-bottom: 7px;
                 }
                }
            }
        }

        .footer-company-info{
            display: flex;
            justify-content: space-between;
            width: 300px;
        }

        .net-logo-footer {
            width: 250px;

            img { 
                width: 100%
            }   
        }


        h4 {
            color: #fff;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: $font-light;
        }

    .row-flex-list {

        display: flex;
        flex-wrap: wrap;
        margin: 0;
        flex-direction: column;       

        .footer-list {  
         margin-bottom: 30px;


            .footer-ul {
                    padding-left: 0;
                }

                
            
  
            li {
                list-style: none;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 13px;

                    &:hover {
                        text-decoration: underline;
                      }
                }
                
            }
        }
    }



    footer .footer-company-info .footer-social-menu {
        width: auto;
    }


    footer .footer-content .row-flex-list {

        @include mq(medium) {
            width: 45%;
            flex-direction: row;
      }
    
        @include mq(large) {
            width: 25%;
        }
    
        @include mq(x-large) {
            min-width: 800px;
        }
    }

//==========================================//
//            FOOTER BOTTOM
//==========================================//

.footer-bottom {
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0.82rem;
    // font-weight: $font-med;
    line-height: 1.42;
    background-color: $footer-drk;

    .license, & a {
        margin: 0;
        color: #fff;
        text-decoration: none;

        span {
            display: block;

            @include mq(medium) {
                display: inline;
            }
        }
        

    }



}