//==========================================//
//                  FOOTER
//==========================================//


footer {
    background-color: $dark-bg;
    padding: 27px 0 0;
    position: relative;

    h4 {
        color: #fff;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 100;
        // margin-top: 0;
        margin-bottom: 26px;
    }

    a{text-decoration: none; color: #fff;}

        
    .footer-all {

        .netlogo-footer{
            width: 250px; //small max 479px,
            @media (min-width: 480px) {width: 320px;}
            img { width: 100%;}

            & h4 {
                margin-top: 24px;
            }
        }

        .social-logos{
            margin-bottom: 30px;
            display: flex;
            flex-wrap: wrap;
            flex-direction: row;


            & a {
                width: 35%;
                display: flex;
                font-size: 26px;
                line-height: 26px;
                margin-right: 10px;
                margin-bottom: 10px;
                align-items: center;
                justify-content: center;
                padding: 12px 22px 16px;
                background-color: #212330;
                
                @media (min-width: 480px){width:68px;} //auto or 68px

                &.facebook:hover{background-color: $fb-hov;}
                &.linkedin:hover{background-color: $linked-hov;}
                &.twitter:hover{background-color: $twt-hov;}
                &.insta:hover{background-color: $insta-hov;}

                span {
                    position: relative;
                    top: 4px;
                }
            }
        }

    }

}
//==============================//
//       FOOTER LIST ROWS
//==============================//
footer {
    @include mq(x-large){padding: 47px 0 0 ;}

    .footer-all{
        @include mq(x-large){
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .footer-rows{
        display: flex;
        flex-wrap: wrap;
        width: 200px; //added on works for mobile
        @include mq(medium){width: auto;}//width: auto //min-width: 768px
        @include mq(x-large){width: 772px;}//min-width 1260px


        .footer-list{
            margin-bottom: 30px;
            padding-left: 15px;
            padding-right: 15px;

            & > h4 {
                margin-top: 0;
            }

            // width: 50% //min-width 768px
            @include mq(medium){width: 50%; padding-left: 0;}
            // width: 25%; //min-width 992px
            @include mq(large){width: 25%;}

            ul.footer-ul{
                list-style: none;
                padding: 0;
                margin: 0;

                li {
                    font-size: .8125rem;
                    line-height: 1.375rem;

                    a:hover{
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}





//==========================================//
//              FOOTER BOTTOM
//==========================================//

.footer-bottom {
    display: block;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size: 0.82rem;
    // font-weight: $font-med;
    line-height: 1.42;
    background-color: $footer-drk;


    .license, & a {
        margin: 0;
        color: #fff;
        text-decoration: none;

        span {
            display: block;
            &.hidephen{
                display: none;
                @include mq(medium) {display: inline}
            }

            @include mq(medium) {
                display: inline;
            }
        }

    }



}