//==========================================//
//                 HEADER 
//==========================================//


 header {

    .header-container {
        padding: 20px 0px;

        .header-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;

            @media (min-width: $break--med) and (max-width: $break--l) {
                justify-content: space-evenly;
            }

            img {
                max-width: 100%;
                display: block;
                @media (min-width: $break--med) and (max-width: $break--l) {
                    max-width: 85%;
                }
            } 

            .phone-burger{
                display: flex;
                align-items: center;
            }
            
            .phone {
                margin-left: 15px;
                // padding-right: 25px;

                & a {
                    text-decoration: none;
                    color: $dark-txt;
                    font-size: 1rem;

                    span {
                        font-size: 25px;
                    }
                }

                @include mq(medium) {
                    display: none;
                }
            }
        
            .actions{
                display: flex;
                
                &>*+* {
                @include mq(large){
                        margin-left: 20px;
                    }
                }

                //SUPPORT AND CONTANT BTNS
                a {
                    @media (max-width: 992px) {display: none;}
                    text-decoration: none;
                    @include btnclass($font-size:1.125rem, $line-h:46px, $height:56px);
                    
                    //BUTTON COLOURS & HOVER COLOURS
                    &.support {
                        @include btn-style($nav-it); 
                        &:hover {background-color: $nav-it-drk}}
                    &.contact {
                        @include btn-style($btn-contact);
                        &:hover {background-color: $btn-contact-hover;}}
                    
                }
                .search-bar {
                    @media (min-width:$break--xs) and (max-width:$break--med){display:none;}
                
                    form {
                        margin-bottom: 0;
                        label {display: none;}
                        input {
                            width: 174px;
                            height: 55px;
                            font-size: 13px;
                            border-radius: 0;
                            padding: 5px 15px;
                            border-color: #ccc;
                            display: inline-block;
                            border: 2px solid #e5e5e5;
                            box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

                            &:focus{
                                outline: 0;
                                border-color: $border-focus;
                                box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 
                                0 0 8px rgba(91,192,222,.6);
                            }

                            @include mq(large) {
                                display: none;
                            }
                            @include mq(x-large){
                                display: inline-block !important;
                                width: 240px;
                            }

                        }
                    }

                    button { //check actual btn class
                        border: none;
                        height: 55px;
                        font-size: 1.3rem;
                        color: white;
                        cursor: pointer;
                        position: relative;
                        left: -7px;
                        vertical-align: bottom;
                        padding: 5px 20px 3px;
                        border-radius: 0 5% 5% 0;
                        background-color: $btn-contact;
                        @media (min-width: $break--l) and (max-width: 1259px){border-radius: 3px;}
                        &:hover{background-color: $btn-contact-hover;}
                    }
                }

                .hamburger { //use btnclass mixin
                    width: 56px;
                    height: 56px;
                    display: block;
                    border-radius: 3px;
                    margin-left: 20px;
                    @include btn-style($dark-txt, $dark-txt);
                    &:hover{background-color: $hover-drk;}


                    .burger {
                        display: block;
                        width: 33px;
                        height: 4px;
                        margin-top: -1.5px;
                        position: absolute;
                        background-color: #fff;
                        // transition-property: transform;
                        // transition-duration: .15s;
                        // transition-timing-function: ease;

                        &::after, &::before {
                            content: "";
                            width: 33px;
                            height: 4px;
                            display: block;
                            border-radius: 0;
                            position: absolute;
                            background-color: #fff;
                        }
                        
                        &::before {
                            top: -10px;
                            // transition: top .1s ease-in .25s, opacity .1s ease-in;
                        }
                        &::after {
                            bottom: -10px;
                            // transition: bottom .1s ease-in .25s, 
                            // transform .22s cubic-bezier(.55,.055,.675,.19);
                        }
    
                    }
                }

            }
        
        }

      .search-mobile {

        @include mq(medium) {
            display: none;
        }

        @include mq(large) {
            display: none;
        }

        @include mq(x-large) {
            display: none;
        }

        & form {
            position: relative;
            margin-bottom: 0;

            input {
                width: 100%;
                height: 47px;
                color: #555;
                font-size: 14px;
                border-radius: 2px;                
                padding: 5px 15px;
                padding-right: 40px;
                background-color: rgba(0, 0, 0, .1);
                border: 2px solid rgba(0, 0, 0, .1);
                box-shadow: inset 0 1px 1px rgba(0,0,0,.075);

                &:focus {
                    outline: none;
                    box-shadow: none;
                }
            }

            button {
                color: $dark-txt;
                position: absolute;
                border: none;
                font-size: 19px;
                right: 5px;
                top: 30px;
                text-align: center;
                background: none;
            }

        }


      }

     }
    
}
