//==========================================//
//                   NAV BAR 
//==========================================//


#nav-bar {
    background-color: $dark-txt;

    ul.main-nav {
        margin: 0;
        padding: 0;
        display: grid;
        grid-template-columns: repeat(7, 1fr);

        li {
            list-style: none;
            text-align: center;

            a {
                display: block;
                color: #fff;
                padding: 19px 0 18px;
                text-decoration: none;
                text-transform: uppercase;

                &:not(i, small){
                    font-size: 1.125rem;
                }

                i {
                    display: block;
                    padding-bottom: 10px;
                }

                small{
                    display: block;
                    font-size: .625rem;
                    padding-bottom: 1px;
                }
            }
        }
    }

    @media (max-width: $break--l){
        display: none;
    }
 }

//==========================================//
//               DROPDOWN MENU 
//==========================================//

#nav-bar{

    .drop-menu{
        display: none;
        z-index: 10;
    }


}