//==========================================//
//                 SIDE BAR
//==========================================//

#sidebar {
    position: fixed;
    top: 0;
    right: 0;
    z-index: 9;
    float: right;
    width: 275px;
    height: 100vh;
    overflow: auto;
    background-color: $dark-txt;

    // ALL UNORDERED LISTS 
    ul {
        list-style: none;
        padding: 0;
        margin: 0;    
    }

    // ALL ANCHOR TAGS
    a {
        color: #fff;
        text-decoration: none;
        background: transparent; 
        text-transform: uppercase;
    }

    //=== NAVIGATION FOR SMALLER SCREENS ===//
    ul.sidenav {
        padding: 21px;
        margin: -20px 0 0;
        // display: none !important;
        @media (max-width: $break--med){display: block !important;}

        & > li.siv-tab {
            padding: 20px 0 0;

            // UNIQUE ICON COLOURS
            &.software > a > i {color: $nav-software;}
            &.support > a > i {color: $nav-it;}
            &.digital > a > i {color: $nav-digital;}
            &.telecoms > a > i {color: $nav-telecom;}
            &.webdesign > a > i {color: $nav-webdesign;}
            &.cyber > a > i {color: $nav-cyber;}
            &.developer > a > i {color: $nav-developer;}

            & > a { // NAV HEADINGS
                display: block;
                text-align: center;
                border-radius: 3px;
                font-size: 1.125rem;
                padding: 19px 0 18px;
                outline: 1px solid rgba(0, 0, 0, .25);
                border: 1px solid hsla(0, 0%, 100%, .1);
                & >* {display: block;}

                i {
                    padding-bottom: 10px;
                    font-size: 1.438rem;
                }
                
                small {
                    font-size: .625rem;
                    padding-bottom: 1px;
                }
            }

            //=== SIDENAV SUBMENUS ===//
            .siv-submenu {
                margin-top: 20px;
                border-radius: 3px;
                overflow: hidden;

                & > ul {
                    padding: 0;
                    width: auto !important;

                    & > li:not(:first-child){
                        border-top: 1px solid rgba(0, 0, 0, .45);
                    }

                    //SIDEVAN SUBMENU LIST LINKS
                    & > li > a {
                        padding: 10px;
                        display: block;
                        // color: #fff;
                        text-align: center;
                        text-transform: uppercase;
                        // text-decoration: none;
                        background-color: rgba(0, 0, 0, .25);
                    }
                }
            }
        }
    }

    //==================//
    //    SIDE MENU     //
    //==================//
    ul.side-menu {
        border-top: 1px solid rgba(0, 0, 0, .25);
        border-bottom: 1px solid hsla(0, 0%, 100%, .1);

        & > li {
            border-top: 1px solid hsla(0, 0%, 100%, .1);
            border-bottom: 1px solid rgba(0, 0, 0, .25);

            & > a {
                display: block;
                padding: 20px;
                line-height: 1;
                font-size: 1rem;
                position: relative;
            }

            .menu-list > ul {
                padding-left: 0;
                width: auto !important;

                & > li {
                    border-top: 1px solid rgba(0, 0, 0, .45);

                    a {
                        display: block;
                        padding: 15px 20px;
                        font-size: .875rem;
                        position: relative;
                        background-color: rgba(0, 0, 0, .25);
                        border-top: 1px solid hsla(0, 0%, 100%, .05);

                        span i {
                            font-size: 0.5rem;
                            padding-right: 15px;
                        }
                    }
                }
            }
        }

        & li.mobile-support {
            // display: block !important;
            @include mq(medium){display: none !important;}
        }

    }
}