//==========================================//
//              BASE STYLES 
//==========================================//

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
html {
  background-color: #fff;
}
body {
  font-family: Poppins, sans-serif;
  letter-spacing: 0.4px;
  background-color: #fff;
}



//==========================================//
//         REUSABLE CONTAINER CLASS
//==========================================//

.container {
    margin-right:  auto;
    margin-left:   auto;
    padding-right: 15px;
    padding-left:  15px;
}