//==========================================//
//              ABOUT SECTION
//==========================================//

#about-section {
    color: #fff;
    // margin-top: 30px;
    background-color: $dark-txt;

    .about-grid{
        display: grid ;
        column-gap: 15px;
        grid-template-areas: "about" "review";

            .about-col{
                grid-area: about;

                @include mq(large){
                    width: 110%;
                }
            }
            .review-col{
                grid-area: review;

                @include mq(large){
                    padding-left: 45px;
                }
            }

            @include mq(large){
                grid-template-areas: "about review";
            }



        a {
            // width: 100%;
            color: #fff;
            text-decoration: none;
        }

        .double-btn {
            display: flex;
            flex-wrap: wrap;
            row-gap: 20px;
            text-transform: uppercase;
        }

        .btn-base {
            font-size: 1.25rem;
            padding: 15px 30px;
            border-radius: 6px;
            background-color: $btn-drk;

            &:hover {
                background-color: $btn-drk-hover;
            }
        }

        .google{
            background-color: $btn-google;
            @include mq(large){
                margin-top: 20px;
            }

            &:hover {
                background-color: $google-hover;
            }
        }

        .trustpilot {
            background-color: $btn-trustpilot;
            @include mq(x-large){
                margin-top: 20px;
            }

            &:hover {
                background-color: $trustpilot-hover;
            }
        }

        h2 {
            font-size: 2.25rem;
            font-weight: $font-bold;

            @include mq(large){
                margin-top: 0px;
            }
        }

        .welcome-head {
            margin-top: 0px;
        }

        p {
            line-height: 1.875rem;
            margin-bottom: 25px;

            & a:hover { text-decoration: underline; }
        }

        .star-inline {
            display: inline-flex;

            .stars {
                color: orange;
                margin-bottom: 25px;
                font-size: 45px;
            }
        }

        
        .client-quote {
            font-style: italic;
            font-size: 1.3rem;
            font-weight: $font-bold;
        }

        .client-quote-author {
            font-weight: $font-bold;
            color: #a3a8ac;
            font-size: 1.1rem;

            & a {
                color: #fff;
            }
        }

    }

}