//==========================================//
//  PARTNERS AND ACCREDNTIALS SLIDE SECTION
//==========================================//


#acreds-section, .clients-section {    
      
            .badges-row {
                display: flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
      
                .badge-logo {
                    flex-grow: 1;
                    padding: 0 40px;
                    position: relative;
                    // top: 30px;
                    filter: grayscale(100%);

                    &:hover {
                        filter: grayscale(0) ;
                    }
                }
            }
      }
      

//==========================================//
//            CLIENT'S TOOLTIP
//==========================================//

.clients-section{

    .badge {
        vertical-align: middle;
        position: relative;
        padding: 0 20px;

        & .badge-logo > img{
            max-height: 70px;
            width: auto !important;
            max-width: 200px;
        }

        &:hover .tooltip {
            display: block;
        }

        .tooltip {
            display: none;
            bottom: 125%;
            left: -200px;
            right: -200px;
            position: absolute;
        

            .toolbox {
                margin: auto;
                color: #fff;
                padding: 20px;
                min-width: 280px;
                max-width: 280px;
                background-color: $dark-txt;

                h3 {
                    margin: 0;
                    color: #fff;
                    font-weight: 400;
                    position: relative;
                    font-size: 1.125rem;
                    padding-bottom: 17px;     
                }

                p {
                    // margin-bottom: 0;
                    font-size: .8125rem;
                    line-height: 1.375rem;

                    > a { color:#fff; text-decoration:none; font-weight:600; 
                        &:hover{text-decoration: underline;}
                    }
                }
            


                a.btn {
                    // display: flex;
                    margin-top: 11px;
                    // align-items: center;
                    text-decoration: none;
                    @include btnclass($font-size: 16px);

                    //Unique button colours & Hover 
                    &.webdesign {
                        @include btn-style($nav-webdesign, $nav-webdesign);
                        &:hover {@include btn-style($nav-webdesign-drk, $nav-webdesign-drk);}
                    }
                    &.digital {
                        @include btn-style($nav-digital, $nav-digital);
                        &:hover {@include btn-style($nav-digital-drk, $nav-digital-drk);}
                    }
                    &.software {
                        @include btn-style($nav-software, $nav-software);
                        &:hover {@include btn-style($nav-software-drk, $nav-software-drk);}
                    }
                    &.support {
                        @include btn-style($nav-it, $nav-it);
                        &:hover {@include btn-style($nav-it-drk, $nav-it-drk);}
                    }
                }

                .toolarrow{
                    position: absolute;
                    top: 98%;
                    left: 50%;
                    margin-left: -36px;

                    &::after{
                        content: "";
                        margin: auto;
                        display: inline-block;
                        border-style: solid;
                        border-width: 35px 36px 0;
                        border-color: $dark-txt transparent transparent;
                    }
                }
            }
        }

    }
}