//==========================================//
//  PARTNERS AND ACCREDNTIALS SLIDE SECTION
//==========================================//


.partners-section, .clients-section {    
      
            .badges-row {
                display: flex;
                flex-direction: row;
                text-align: center;
                align-items: center;
      
                .badge-logo {
                    flex-grow: 1;
                    padding: 0 40px;
                    position: relative;
                    top: 30px;
                    filter: grayscale(100%);

                    &:hover {
                        filter: grayscale(0) ;
                    }
                }
            }
      }
      

//==========================================//
//            CLIENT'S TOOLTIP
//==========================================//

.clients-section{

    .badge {
        vertical-align: middle;
        position: relative;
        padding: 0 20px;

        & .badge-logo > img{
            max-height: 70px;
            width: auto !important;
            max-width: 200px;
        }

        &:hover .tooltip {
            display: block;
        }

        .tooltip {
            display: none;
            position: absolute;
            bottom: 100%;
            // left: -200px;
            // right: -200px;
        

            .toolbox {
                color: #fff;
                padding: 20px;
                min-width: 280px; //-> For one traverller 
                max-width: 280px;
                background-color: $dark-txt;
            


                a {
                    color: #fff;
                    text-decoration: none;
                }

                .toolarrow{
                    position: absolute;
                    top: 98%;
                    left: 50%;
                    // bottom: 10px;
                    margin-left: -36px;

                    &::after{
                        content: "";
                        margin: auto;
                        display: inline-block;
                        border-style: solid;
                        border-width: 35px 36px 0;
                        border-color: $dark-txt transparent transparent;
                    }
                }
            }
        }

    }
}