//==========================================//
//              BANNER SECTION
//==========================================//

.slide-banner{

    .banner {

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .banner-content {
            color: #fff;
            position: absolute;
            text-align: center;
            width: 100%;
            top: 85%;
            left: 50%;
            transform: translate(-50%, -50%);

            h1 {
                font-size: 2.5rem;
            }
        }

    }
}