//==========================================//
//                  FOOTER
//==========================================//

.foot-section {

    footer {
    background-color: $dark-bg;
    padding: 27px 0 0;
    position: relative;
    

        .footer-content {
            // display: flex;
            justify-content: space-between;
            // flex-wrap: wrap;

            .footer-social-logos {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                margin-bottom: 30px;
            }

            .row {
                display: flex;
                flex-wrap: wrap;

                .footer-list {
                    margin-bottom: 30px;
                }
            }
        }

        .net-logo-footer {
            width: 250px;

            img { 
                width: 100%
            }   
        }

        .footer-social-logos {
            // display: flex;
            // flex-direction: row;
            // flex-wrap: wrap;
            // margin-bottom: 30px;

            a {
                background-color: $social-drk;
                text-align: center;
                text-decoration: none;
                font-size: 26px;
                line-height: 26px;
                padding: 12px 22px 16px;
                margin-right: 7px;
                color: #fff;

                .btn-primary {
                    
                }
            }
        }

        h4 {
            color: #fff;
            text-transform: uppercase;
            font-size: 1rem;
            font-weight: $font-light;
        }

        
        .footer-list {  

            li {
                list-style: none;

                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 13px;

                    &:hover {
                        text-decoration: underline;
                      }
                }
                
            }
        }
    }
}



