//==========================================//
//                 HEADER 
//==========================================//


 header {

    .header-container {
        padding: 20px 15px;

        .header-row {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            padding-bottom: 15px;
        

            img {
                max-width: 100%;
            } 
            
            .phone {

                & a {
                    text-decoration: none;
                    color: $dark-txt;
                    font-size: 1rem;

                    span {
                        font-size: 27px;
                    }
                }
            }
        

            button {
                width: 96px;
                height: 53px;
                border-radius: 3px;

                span {
                    font-size: 2rem;       
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
        
         }

      //search bar

     }
    
}