//==========================================//
//                 HEADER 
//==========================================//


 header {

    .header-container {
        padding: 20px 15px;

        img {
            max-width: 100%;
        } 
    }

    .btn {
        height: 56px;
    }

    
}