//==========================================//
//              LATEST NEWS
//==========================================//

#latest-section {
    background-color: #fff;
    &:not(h2) {cursor: pointer;}

    .latest-heading {
        padding-top: 50px;

        h2 { //use mixin for latest and service section
            margin: 0;
            color: $dark-txt;
            font-size: 2.25rem;
            // margin: 0 0 28px;
            font-weight: $font-bold;
        }

        //===> VIEW ALL HEADING ARROW IN REUSABLE <===//
    }

    .latest-articles {
        
        @media (min-width: $break--med) and (max-width: $break--xl) {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 30px;


            .article-container:last-child {
                display: none;
            }
        }

        @include mq(x-large){
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 30px;  
        }


        a {
            color: #fff;
            cursor: pointer;
            text-decoration: none;
            & p {color: #666;}
        }


            .article-container {
            border: 1px solid #ccc; 
            box-shadow: 0 3px 35px rgba(0,0,0,.1); 
            margin: 40px 0;
            position: relative; 
            border-radius: 3px;
            background-color: #fff;


            top: 0; 
            transition: .5s ease;

            &:hover {
                top: -10px; 
                transition: .5s ease;
            }


            .article-img {
                position: relative;

                .img-tag{ 
                    z-index: 2;
                    right: 0;
                    top: 10px;
                    position: absolute;
                    padding: 5px 10px;
                    font-weight: 600;
                    font-size: 0.75rem;
                    text-transform: uppercase;                   
                    &:hover{text-decoration: underline;}

    
                }

                // .news {background-color: $nav-telecom;}
                // .insights {background-color: $nav-software;}
                // .careers {background-color: $nav-digital;}
                .software { background-color: $nav-software-drk;}
                .support { background-color: $nav-it-drk;}
                .digital { background-color: $nav-digital-drk;}
                .telecom { background-color: $nav-telecom-drk;}
                .webdesign { background-color: $nav-webdesign-drk;}
                .cyber { background-color: $nav-cyber-drk;}
                .developer { background-color: $nav-developer-drk;}


                img {
                    width: 100%;
                    height: auto;
                    display: block;
                    position: relative;
                    border-radius: 3px 3px 0 0;
                }

            }
        }
    }

    //===> VIEW ALL MOBILE ARROW IN REUSABLE <===//

}


//=========================//
//    ARTICLE CONTENT 
//=========================//

#latest-section .article-content {
    padding: 30px; 

    h3.article-header {
        // &1, &2, &3 {
        font-size: 1rem;
        margin: 0 0 15px;
        line-height: 1.5rem;
        font-weight: $font-bold;
        // }

        &.xtrspace{
            @include mq(medium){
                min-height: 3rem; //for no read times
            }
        }

        // &1:not(span){color: $nav-telecom;}
        // &2:not(span){color: $nav-software;}
        // &3:not(span){color: $nav-digital;}
        &.software {color: $nav-software;}
        &.support {color: $nav-it;}
        &.digital {color: $nav-digital;}
        &.telecom {color: $nav-telecom;}
        &.webdesign {color: $nav-webdesign;}
        &.cyber {color: $nav-cyber;}
        &.developer {color: $nav-developer;}
    }

    span.read-time {
        color: rgba(51, 54, 69, .5);
        font-size: .85rem;
        font-weight: $font-light;
        text-transform: uppercase;
    }

    p.article-desc {
        margin: 0 0 25px;
        line-height: 1.375rem;
        font-size: .8125rem;
    }

    & .btn{
        padding: 5px 15px;
        line-height: 35px;
        border-radius: 3px;
        font-size: 1.063rem;
        text-transform: uppercase;

        // &.btn-art1{@include btn-style($nav-telecom, $nav-telecom)}
        // &.btn-art2{@include btn-style($nav-software, $nav-software)}
        // &.btn-art3{@include btn-style($nav-digital, $nav-digital)}
        &.software { @include btn-style( $nav-software, $nav-software);}
        &.support { @include btn-style( $nav-it, $nav-it);}
        &.digital { @include btn-style( $nav-digital, $nav-digital);}
        &.telecom { @include btn-style( $nav-telecom, $nav-telecom);}
        &.webdesign { @include btn-style( $nav-webdesign, $nav-webdesign);}
        &.cyber { @include btn-style( $nav-cyber, $nav-cyber);}
        &.developer { @include btn-style( $nav-developer, $nav-developer);}
    }
    


    .author {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #ccc;

        .author-pic {
            display: flex;

        & img {
            border-radius: 100%;
        }

        }

        .posted-info  {
            padding-left: 20px;
            font-size: 0.875rem;
            line-height: 1.35rem;

            & .posted-by {
                font-weight: $font-bold;
                color: $dark-txt;
            }

            & .posted-date {
                color: #666;
            }
        
        }
    }

}   


